<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'One Big Crew',  "http://www.onebigcrew.com" %>
    </p>

   	<p>Please  
	<%= link_to "Edit ", controller: "users", action: "edit", id: current_user.id %>
	your profile.  
	</p>
</div>
